<?xml version="1.0" encoding="ISO-8859-1"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd">

   <localRepository>/root/.m2/repository</localRepository>

   <pluginGroups>
      <pluginGroup>org.apache.maven.plugins</pluginGroup>
   </pluginGroups>

   <profiles>
      <profile>
         <!-- https://jfrog.com/knowledge-base/why-should-i-use-jcenter-over-maven-central/ -->
         <id>jcenter</id>
         <repositories>
            <repository>
               <id>central</id>
               <name>jcenter-releases</name>
               <url>https://jcenter.bintray.com</url>
               <releases>
                  <enabled>true</enabled>
               </releases>
               <snapshots>
                  <enabled>false</enabled>
               </snapshots>
            </repository>
         </repositories>

         <pluginRepositories>
            <pluginRepository>
               <id>central</id>
               <name>jcenter-plugin-releases</name>
               <url>https://jcenter.bintray.com</url>
               <releases>
                  <enabled>true</enabled>
               </releases>
               <snapshots>
                  <enabled>false</enabled>
               </snapshots>
            </pluginRepository>
         </pluginRepositories>
      </profile>
   </profiles>

   <activeProfiles>
      <activeProfile>jcenter</activeProfile>
   </activeProfiles>
</settings>
